Import Libraries

In [2]:
import pandas as pd

Loading Data from Excel File

In [7]:
df=pd.read_excel("WTN01.xls")

Display Last Three Lines of DataFrame

In [8]:
df.tail(3)

,Areaname,STCOU,WTN110197F,WTN110197D,WTN110197N1,WTN110197N2,WTN110202F,WTN110202D,WTN110202N1,WTN110202N2,...,WTN140202N1,WTN140202N2,WTN150197F,WTN150197D,WTN150197N1,WTN150197N2,WTN150202F,WTN150202D,WTN150202N1,WTN150202N2
3195,"Uinta, WY",56041,0,32,0,0,0,36,0,0,...,0,0,0,15389,0,0,0,13292,0,0
3196,"Washakie, WY",56043,0,15,0,0,0,16,0,0,...,0,0,0,5067,0,0,0,6193,0,0
3197,"Weston, WY",56045,0,6,0,0,0,4,0,0,...,0,0,0,1621,0,0,0,865,0,0